@model CrawlerDataProject.Models.Source

@{
    ViewBag.Title = "Edit";
}
<style>
    .hidden-linh {
        display: none
    }
</style>

<div class="container-fluid p-0">

    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Edit nguồn trang</h1>
        <a class="badge bg-dark text-white ms-2" href="upgrade-to-pro.html">
            Nhập các thông tin bên dưới
        </a>
    </div>
    <div class="row " id="step1">
        <div class="col-7 col-lg-7">
            <form action="/" method="post" name="add-source">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Input</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 form-group">
                            <input type="text" name="soureName" class="form-control" placeholder="Tên nguồn trang">
                        </div>
                        <div class="mb-3 form-group">
                            <input type="text" name="sourceLink" class="form-control" placeholder="Selector Link">
                        </div>
                        <div class="mb-3 form-group ">
                            <input type="text" name="sourceSelector" class="form-control" placeholder="Selector source chi tiết">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" value="Preview Link" class="btn btn-primary" />
                            <input type="reset" value="Reset Form" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row hidden-linh" id="step2">
        <div class="col-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Danh sách link tìm được</h5>
                </div>
                <div class="card-body">
                    <ul id="links">
                    </ul>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" onclick="displayOnly('step3')" value="Bước tiếp theo" class="btn btn-primary" />
                        <input type="reset" value="Quay lại" onclick="displayOnly('step1')" class="btn btn-secondary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row hidden-linh" id="step3">
        <div class="col-12 col-lg-12">
            <form action="/" method="post" name="add-article-selector">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Nhập selector cho bài viết chi tiết</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 form-group">
                            <input type="text" name="titleSelector" class="form-control" placeholder="Selector cho tiêu đề bài viết">
                        </div>
                        <div class="mb-3 form-group">
                            <input type="text" name="descriptionSelector" class="form-control" placeholder="Selector cho mô tả bài viết">
                        </div>
                        <div class="mb-3 form-group">
                            <input type="text" name="thumbnailSelector" class="form-control" placeholder="Selector cho ảnh đại diện bài viết">
                        </div>
                        <div class="mb-3 form-group">
                            <input type="text" name="contentSelector" class="form-control" placeholder="Selector cho nội dung bài viết">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" value="Preview Bài Viết" class="btn btn-primary" />
                            <input type="reset" value="Quay lại" onclick="displayOnly('step2')" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row hidden-linh" id="step4">
        <div class="col-12 col-lg-12">
            <form action="/" method="post" name="submit-source">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Preview bài viết chi tiết</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div id="article-title"></div>
                            <div id="article-description"></div>
                            <div id="article-thumbnail"></div>
                            <div id="article-content"></div>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" value="Lưu nguồn" class="btn btn-primary" />
                            <input type="reset" value="Quay lại" onclick="displayOnly('step3')" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
